<% include partials/header %>
  <h1>Add New Person</h1>
  <% if(errors){ %>
    <ul>
      <% errors.forEach(error => {%>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <form class="" action="/users/add" method="POST">
    <label for="">Name</label><br>
    <input type="text" name="name" value="">
    <br>
    <label for="">Race</label><br>
    <input type="text" name="race" value="">
    <br>
    <label for="">Age</label><br>
    <input type="text" name="age" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <h1><%= title %></h1>
  <ul>
    <% people.forEach(person => {%>
      <li><h3><%= person.name%></h3>
          <p>Race: <%= person.race%></p>
          <p>Age: <%= person.age%></p>
          <a href="#">Delete</a>
        </li>
    <% }) %>
  </ul>

<% include partials/footer %>
